@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#779d9f);
}
.search-box {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #00ab1c;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1000px;
}
.search-txt{
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: #f0f5fb;
    font-size: 16px;
    line-height: 40px;
    width: 0;
    transition: .4s;
    font-family: 'Open Sans';
}
::-webkit-input-placeholder{
    color: #79e4a6;
}

.search-btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #00ab1c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .4s;
}
.search-box:hover > .search-txt {
    width: 240px;
    padding: 0 6px;
}
.search-box:hover > .search-btn {
    background: #00ab1c;
}
.searchResponse{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    padding: 10px;
    display: flex;
    font-size: 30px;
}
